.appContainer {
	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	background: url("./pexels-adrien-olichon-2387532.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
